<app-main>
  <ng-container>
    <div class="container">
      <div class="row" name="header">
        <button type="button" class="btn btn-link btn-sm" (click)="navigateBack()">Back</button>
      </div>
      <br>
      <div name="body">
        <table class="table table-bordered">
          <tr>
            <td>#</td>
            <td>{{task.id}} </td>
          </tr>
          <tr>
            <td>Name</td>
            <td>{{task.name}} </td>
          </tr>
          <tr>
            <td>Created At</td>
            <td>{{task.created_at | date:'yyyy-MM-dd HH:mm:ss'}} </td>
          </tr>
          <tr>
            <td>Due on</td>
            <td>{{task.due_on | date:'yyyy-MM-dd HH:mm:ss'}} </td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{task.status}} </td>
          </tr>
        </table>

        <table>
          <tr>
            <td>Name</td>
            <td><input type="text" class="form-control" [(ngModel)]="task.name"> </td>
          </tr>
          <tr>
            <td>Due on</td>
            <td><input type="text" class="form-control" [(ngModel)]="task.due_on"> </td>
          </tr>
          <tr>
            <td>Status</td>
            <td><input type="text" class="form-control" [(ngModel)]="task.status"> </td>
          </tr>

          <tr>
            <td><button type="button" class="btn btn-success" (click)="updateTask()">Update</button></td>
            <td><button type="button" class="btn btn-danger" (click)="deleteTask()">Delete</button></td>
          </tr>
        </table>

      </div>
    </div>
  </ng-container>
</app-main>
