<app-main>
  <ng-container>
    <div class="row" name="header">
      <button type="button" class="btn btn-link btn-sm" (click)="navigateBack()">Back</button>
    </div>
    <hr>
    <br>
    <div name="body">

      <h2>
        <strong> {{taskList.id}} </strong>
        <strong>{{taskList.name}}</strong>

      </h2>

    </div>

    <div>
      <table class="table">
        <tr>
          <td> <input type="text" class="form-control" [(ngModel)]="taskList.name"></td>
          <td>
            <button type="button" class="btn btn-success" (click)="updateTaskList()">Update</button>
            <button type="button" class="btn btn-danger" (click)="deleteTaskList()">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>
</app-main>
